* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #fff;
  position: relative;
}

/* Main Content */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../image/header-bg.jpeg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.main .content {
  padding: 1.4rem 7%;
  max-width: 60%;
  color: #000;
}

.main .content h1 {
  font-size: 4rem;
  color: #007f73;
  line-height: 1.2;
}

.main .content h1 span {
  color: #ffdf9a;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  mix-blend-mode: difference;
}

.main .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #007f73;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Contoh Produk */
.contoh-produk h2 {
  margin-bottom: 1rem;
}

.contoh-produk {
  color: #007f73;
  max-width: 100rem;
  text-align: center;
  margin: auto;
  line-height: 1.6;
  padding: 8rem 7% 1.4rem;
}

.contoh-produk .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.contoh-produk .row .produk-card {
  text-align: center;
}

.contoh-produk .row img {
  border-radius: 5%;
  width: 80%;
}

.contoh-produk .row .produk-card-title {
  margin: 1rem auto 0.5rem;
}

.produk-card-title {
  cursor: pointer;
}

.produk-card-title.show {
  display: block;
}

/* Respomsive */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
