* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #fff;
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Main Content */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../image/header-bg.jpeg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.main .content {
  padding: 1.4rem 7%;
  max-width: 60%;
  color: #000;
}

.main .content h1 {
  font-size: 4rem;
  color: #007f73;
  line-height: 1.2;
}

.main .content h1 span {
  color: #ffdf9a;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  mix-blend-mode: difference;
}

.main .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #007f73;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Contoh Produk */
.contoh-produk h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.contoh-produk p {
  font-size: 1.3rem;
}

.contoh-produk {
  color: #007f73;
  max-width: 100rem;
  text-align: center;
  margin: auto;
  line-height: 1.6;
  padding: 4rem 7%;
}

.contoh-produk .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.row .produk-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  cursor: pointer;
}

.row .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
  transition: transform 0.3s ease;
}

.row .produk-card:hover .img {
  transform: scale(1.1);
}

.row .body {
  width: 300px;
  height: 300px;
  top: 0;
  right: -100%;
  position: absolute;
  background: #00000022;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

.row .produk-card:hover .body {
  right: 0;
}

.row .body h1 {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.row .body p {
  text-transform: capitalize;
  font-size: 0.7rem;
  font-weight: 200;
  padding: 1rem;
}

/* Respomsive */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
