.navbar.bg-body-tertiary {
  background-color: #007f73 !important;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container-fluid a {
  color: #fff;
}

.container-fluid a:hover {
  color: #fff;
  transform: scale(1.1);
}

.nav-item a {
  color: #fff;
}

.nav-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.4em;
  text-decoration-color: #fff;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .container-fluid {
    display: flex;
    justify-content: center;
  }

  .nav-item {
    margin: 0 5px;
  }

  .nav-item a {
    padding: 10px;
    text-align: center;
  }
}
